@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.historiasSection {
    height: auto;
    width: 100%;
}

.titleHistorias {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    color: #D12874;
    font-family: 'Courgette', cursive;
}

.linhaCompleta {
    width: 30%;
    object-fit: contain;
}

.linhaCompleta:first-child {
    transform: rotate(180deg);
}

.containerBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boxDicas {
    margin-top: 3%;
    width: 250px;
    height: 350px;
}

.boxDicas iframe {
    box-shadow: -7px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: .25s all;
    cursor: pointer;
}

.boxDicas iframe:hover {
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .25s all;
}

.boxDicas p { 
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
    color: #D12874;
}

/* iPhone 12 PRO MAX */
@media screen and (max-width: 428px) {
    .relatos {
        font-size: 30px;
    }
   
    .historiasSection .containerBox {
        display: block;
        display: flex;
        flex-direction: column;
    }

    .boxDicas {
        width: 80%;
        height: 300px;
        text-align: center;
        margin-bottom: 20px;
    }

    .boxDicas iframe {
        height: 225px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .linhaCompleta {
        display: none;
    }
}

/* tablet */
@media screen and (min-width: 429px) and (max-width: 834px) {
    .boxDicas {
        height: 250px;
    }
    
    .boxDicas img {
        height: 150px;
    } 
}