*{
    padding: 0;
    border: 0;
    margin: 0;
}
.header{
    width: 100%;
    background-color: #FAB9EF;
    display: flex;
  
}
.boxlogo{
 margin: auto;
   
}
.logo{
    margin-left: -50px;
}
.boxLinhaPagamento{
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    
}
.linhas{
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    color: #D12874;
    font-size: 20px;
}
hr{
    width: 8%;
    
}
.action{
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: -50px;
    justify-content: space-between;
}
.btnvolta{
    width: 10%;
    height: 40px;
    position: absolute;
    top: -110px;
    z-index: 7;
    margin-left: 80px;
    border-radius: 5px;
    color: #D12874;
    background-color: #FDD7FF;
    border: solid 2px #D12874;
    
}

.botaovoltar {
    width: 10%;
    height: 30px;
    padding: 0.5% 3%;
    background-color: transparent;
    border: none;
    margin:15px 10px;
    border-radius: 20px;
    font-size: 2rem;
    transition: ease-out 0.2s;
    

}

.botaovoltar:hover{
    transform: translateX(-10%);
}


@media screen and (max-width: 480px) {
    @media screen and (min-width: 320px) {
        .btnvolta{
            width: 30%;
            top: -9px;
        }
    }
    }
    @media screen and (max-width: 884px) {
        @media screen and (min-width: 481px) {
            .btnvolta{
                width: 20%;
                top: -5px;
            }

        }
    }
    @media screen and (max-width: 1280px) {
        @media screen and (min-width: 885px) {
            .btnvolta{
                width: 20%;
                top: -5px;
            }
        }
    }
