@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    display: flex;
    flex-direction: column;
}

.sectionDevolva {
    width: 100%;
    height: 300px;
    padding: 8% 2% 4% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FDD7FF;
}

.devolvaText {
    width: 45%;
}

.devolvaH1Text {
    font-family: 'Poopins', sans-serif;
    color: #BA2568;
}

.devolvaPText {
    color: #1C2B1A;
    font-size: 1.5rem;
    font-family: 'Poopins', sans-serif;
}

.devolvaImagemMulher {
    width: 20%;
}

/* waves */
.ocean {
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    transform: rotate(180deg);
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23FDD7FF'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s 10s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 15s linear reverse infinite;
    opacity: 0.5;
    height: 100%;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s 20s linear infinite;
    opacity: 0.5;
    
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 768px) {
    .devolvaImagemMulher {
        display: none;
    }

    .devolvaText {
        text-align: center;
        align-items: center;
        width: 90%;
    }

    .ocean {
        position: relative;
        top: -40px;
    }
}

@media screen and (max-width: 320px) {
    .ocean {
        top: -40px;
        z-index: -1;
    }

    .devolvaH1Text {
        padding: 15px 0;
        font-size: 32px;
    }

    .devolvaPText {
        font-size: 18px;
    }
}