.sectionSlogan {
    width: 100%;
    height: 330px;
    position: relative;
}

.sloganH1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D12874;
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

.flor1 {
    position: absolute;
    left: 27%;
    top: 0px;
}

.flor2 {
    position: absolute;
    left: 1%;
    top: 80px;
}

.flor3 {
    position: absolute;
    right: 26%;
    top: 170px;
}

.flor4 {
    position: absolute;
    right: 5%;
    top: -25px;
}

@media screen and (max-width: 320px) {
    .sloganH1 {
        top: 30%;
        font-size: 30px;
    }
}

@media screen and (max-width: 390px) {
    .sectionSlogan {
        height: auto;
        padding-top: 50px;
    }
}

@media screen and (max-width: 414px) {
    .sectionSlogan {
        padding-top: 0px;
        height: 150px;
    }
}

/* Responsividade com base no iPhone 12 PRO MAX */
@media screen and (max-width: 428px) {
    .flor1, .flor2, .flor3, .flor4 {
        height: 100px;
        display: none;
    }

    /* .flor3 {
        right: 10%;
        top: 200px;
    }

    .flor2 {
        top: 170px;
    }

    .flor4 {
        top: 50px;
    } */
}