@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.parceirosSection {
    height: auto;
    width: 100%;
}

.titleParceiros {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    color: #D12874;
    font-family: 'Courgette', cursive;
}

.linhaCompleta {
    width: 30%;
    object-fit: contain;
}

.linhaCompleta:first-child {
    transform: rotate(180deg);
}

.containerBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBox img {
    margin: 2% 0.8%;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: -4px 7px 7px 0px rgba(0, 0, 0, 0.397);
    transition: 1s all;
}

.containerBox img:hover {
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0);
    transition: 1s all;
}

@media screen and (max-width: 428px) {
    .relatos {
        font-size: 30px;
    }

    .containerBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .containerBox .lastChild {
        justify-self: center;
        grid-column-end: 3;
        grid-column-start: 1;
    }
}

@media screen and (max-width: 414px) {
    .containerBox img {
        margin: 10px 5px 20px;
    }
}

@media screen and (max-width: 360px) {
    .linhaCompleta {
        display: none;
    }
    
    .containerBox {
        display: flex;
        flex-direction: column;
    }

    .containerBox img {
        width: 80%;
    }
}

@media screen and (max-width: 834px) {  
    .relatos {
        font-size: 40px;
    }

    .containerBox {
        flex-wrap: wrap;
    }
}