.parceirosSection {
    height: auto;
    width: 100%;
}

.titleParceiros {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    color: #D12874;
}

.linhaCompleta {
    width: 30%;
    object-fit: contain;
}

.linhaCompleta:first-child {
    transform: rotate(180deg);
}

.containerBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBox img {
    margin: 50px 20px 60px;
    border-radius: 20px;
    cursor: pointer;
    transition: .25s all;
}

.containerBox img:hover {
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .25s all;
}