.SessaoSaloes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.SessaoTituloSaloes{
    /* background-color: aqua; */
    width: 100%;
    height: 180px;
}

.AreaTituloSessaoSaloes{
    width: 50%;
    height: auto;
    /* background-color: chartreuse; */
}

.TituloSessaoSaloes{
    font-size: 40px;
    padding-top: 90px;
    padding-left: 70px;
    color:#D12874 ;
}

.AreaCardsAside{
    /* background-color: rgb(102, 255, 0); */
    width: 100%;
    height: 1740px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.AreaCardsSaloes{
    width: 68%;
    height: 1560px;
    /* background-color: brown; */
}

.AreaQuatroCards{
    display: none;
}

.AreaTresCards{
    width: 100%;
    height: auto;
    /* background-color: darkorchid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.AreaAsideSaloes{
    width: 21%;
    height: 1150px;
    /* background-color: rgb(42, 85, 165); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AsidePropaganda1{
    width: 100%;
    height: 450px;
    background-color: rgb(236, 129, 213);
}

.AsidePropaganda2{
    width: 100%;
    height: 650px;
    background-color: rgb(229, 255, 136);
}
@media only screen and (min-width: 320px) {
    @media screen and (max-width: 480px) {
        .SessaoTituloSaloes{
            width: 100%;
            height: 120px;
            margin: auto;
            margin-top: 50px;
        }

        .AreaTituloSessaoSaloes{
            width: 100%;
            text-align: center;
        }
        
        .TituloSessaoSaloes{
            margin: auto;
            padding-top: 0px;
            padding-left: 0px;
            font-size: 35px;
        }
        
        .AreaCardsAside{
            height: 4720px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:center;
        }

        .AreaTresCards{
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 0px;
        }

        .AreaAsideSaloes{
            display:none;
        }
    }
}

@media only screen and (min-width: 481px) {
    @media only screen and (max-width: 768px) {
        .SessaoTituloSaloes{
            width: 100%;
            height: 120px;
            margin: auto;
            margin-top: 50px;
        }
        
        .AreaTituloSessaoSaloes{
            width: 100%;
            text-align: center;
        }
        
        .TituloSessaoSaloes{
            margin: auto;
            padding-top: 0px;
            padding-left: 0px;
            font-size: 42px;
        }
        
        .AreaCardsAside{
            height: 2400px;
            width: 100%;
        }
        
        .AreaQuatroCards{
            /* height: auto; */
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            margin: auto;
            /* width: 100%; */
        }

        .AreaTresCards{
            display: none;
        }
    
        .AreaAsideSaloes{
            display:none;
        }

        .AreaCardsSaloes{
            width: 85%;
        }
    }
}

@media only screen and (min-width: 769px) {
    @media only screen and (max-width: 1024px) {
        .AreaTituloSessaoSaloes{
            width: 100%;
            text-align: center;
        }
        
        .TituloSessaoSaloes{
            margin: auto;
            font-size: 42px;
        }

        .AreaCardsSaloes{
            width: 90%;
        }

        .AreaAsideSaloes{
            display:none;
        }
        
    }
}