/* conteiner que engloba tudo com o fundo com as listras passando */

.container {
    padding: 0 2% 2% 2%;
    background: url(../../../imagens/fundo-ondulado.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Junte-se a nós */
.sectionJunte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 2%;
    margin-bottom: 1%;
}

.junteH1 {
    width: 100%;
    font-size: 1.7rem;
    font-weight: normal;
}

.junteH1 span {
    color: #D12874;
}

.beneficiosButton {
    margin: 2%;
    padding: 5%;
    width: 130%;
    margin: 1% -10%;
    font-size: 1.15rem;
    color: #fff;
    background-color: #D12874;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    transition: .25s all;
}

.beneficiosButton:hover {
    color: #D12874;
    background-color: #fff;
    border: 1px solid #D12874;
    transform: translateY(5px);
}

/* Transformar vidas */
#transformar_vidas .transformar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#transformar_vidas .transformar img{
    width: 23.5%;
    height: 1%;
}

#transformar_vidas .transformar img:first-child{
    transform: rotate(180deg);
}

#transformar_vidas .transformar h2{
    color: #D12874;
    margin: 1%;
}

.transformar_vidas_div2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    font-size: 1.15rem;
}

.transformar_vidas_div2 div{
    width: 40%;
}

.transformar_vidas_div2 div p{
    margin: 3% 0;
}

.transformar_vidas_div2 img{
    width: 30%;
}

.transformar_vidas_div2 .mecha{
    width: 35%;
}

/* Responsividade com base no iPhone 12 PRO MAX */
@media screen and (max-width: 428px) {
    .sectionJunte {
        padding-bottom: 40px;
    }
    
    .container {
        padding: 0;
    }

    /* junte-se a nós */
    .beneficiosButton {
        padding: 5px 9px;
        font-size: 20px;
    }

    /* transforme vida */
    .transformar {
        margin: auto;
    }

    .transformar .meiaLinha {
        display: none;
        background-color: red;
    }

    .transformar h2 {
        text-align: center;
    }    
}

@media screen and (max-width: 768px) {
    #transformar_vidas .transformar img{
        display: none;
    }

    #transformar_vidas .transformar{
        justify-content: center;
        width: 100%;
        font-size: 28px;
    }

    #transformar_vidas .transformar h2{
        margin: 5% 4%;
        font-size: 1.75em;
    }

    .transformar_vidas_div2{
        flex-direction: column;
        margin: 2% 0;
    }

    #transformar_vidas .transformar_vidas_div2:nth-child(odd){
        flex-direction: column-reverse;
        margin: 4% 0;
    }

    .transformar_vidas_div2 div{
        width: 100%;
    }

    .transformar_vidas_div2 img, .transformar_vidas_div2 .mecha{
        width: 70%;
    }
}

