@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.dicasSection {
    height: auto;
    width: 100%;
}

.titleDicas {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: #D12874;
    font-family: 'Courgette', cursive;
}

.linhaCompleta {
    width: 30%;
    object-fit: contain;
}

.linhaCompleta:first-child {
    transform: rotate(180deg);
}

.containerBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxDicas {
    width: 250px;
    height: 350px;
}

.boxDicas img {
    height: auto;
    width: 100%;
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transition: .25s all;
    cursor: pointer;
}

.boxDicas img:hover {
    box-shadow: -7px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: .25s all;
}

.boxDicas p { 
    padding-top: 20px;
    font-size: 18px;
}

/* iPhone 12 PRO MAX */
@media screen and (max-width: 428px) {
    .containerBox {
        flex-direction: column;
    }

    .boxDicas {
        width: 80%;
        height: 300px;
        text-align: center;
        margin-bottom: 20px;
    }

    .boxDicas img {
        height: 225px;
    }
}

/* tablet */
@media screen and (min-width: 429px) and (max-width: 834px) {
    .boxDicas {
        height: 250px;
    }
    
    .boxDicas img {
        height: 150px;
    } 
}