@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.desabrocharSorrisos {
    width: 100%;
    background: linear-gradient(146deg, rgba(164, 27, 89, 1) 10%, rgba(209, 40, 116, 0.61) 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desabrocharSorrisos div {
    margin: 0 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desabrocharSorrisos div h1 {
    color: #EDC5EF;
    font-family: 'Courgette', cursive;
    font-size: 3.2rem;

}

.desabrocharSorrisos div h1 span {
    color: #FAFF74;
}

.reactRotatingTextCursor {
    animation: blinking-cursor cubic-bezier(0.68, 0.01, 0.01, 0.99) 1s infinite;
}

@keyframes blinking-cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.desabrocharSorrisos img {
    transform: translate(0, 13.5%);
}

@media screen and (max-width: 768px) {
    .desabrocharSorrisos {
        height: 300px;
        justify-content: center;
    }

    .desabrocharSorrisos div h1 {
        margin: 5% 0;
        text-align: center;
    }

    .desabrocharSorrisos img {
        display: none;
    }
}