.sectionApoiadores {
    padding: 1% 2%;
}

.apoiadoresLinhaCompleta {
    display: flex;
    padding-top: 20px;
    margin: auto;
    background: url(../../../imagens/linha-completa.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
}

.apoiadoresH1 {
    text-align: center;
    color: #D12874;
    padding-top: 15px;
    font-size: 2rem;
}

.apoiadoresP {
    width: 90%;
    font-size: 1.3rem;
    color: #1c2b1a;
    display: flex;
    margin: auto;
    padding: 1%;
    text-align: center;
}

.apoiadores{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerApoiadores {
    width: 45%;
    padding: 1%;
    background-color: #f7e9f8;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.containerApoiadores div {
    width: 250px;
    height: 100px;
    margin: 1%;
    border-radius: 10px;
}

.containerApoiadores div:first-child {
    background: url(../../../imagens/Cabelegria.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.containerApoiadores div:nth-child(2) {
    background: url(../../../imagens/Tucca.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.containerApoiadores div:nth-child(3) {
    background: url(../../../imagens/Graacc.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.containerApoiadores div:last-child {
    background: url(../../../imagens/ACCamargo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
    .sectionApoiadores .containerApoiadores div {
        height: 70px;
    }
}

@media screen and (max-width: 390px) {
    .containerApoiadores div {
        width: 30%;
    }
}

@media screen and (max-width: 428px) {
    .sectionApoiadores .apoiadoresH1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .containerApoiadores {
        display: flex;
        flex-direction: column;
    }

    .containerApoiadores div {
        width: 90%;
    }

    .apoiadores{
       flex-direction: column;
    }

    .apoiadores img{
        width: 90%;
        margin: 3% 0;
    }

    .containerApoiadores {
        width: 80%;
    }

    .containerApoiadores div {
        width: 80%;
        height: 180px;
        margin: 1%;
        border-radius: 10px;
    }

    .apoiadoresH1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 428px) {
    .containerApoiadores div {
        height: 90px;
        margin: 5%;
    }
}

/* Esse nao ta funcionando, nao sei o pq */
@media screen and (max-width: 320px) {
    .containerApoiadores div {
        height: 70px;
        margin: 5%;
    }
}

@media screen and (max-width: 360px) {
    .containerApoiadores div {
        height: 80px;
    }
}


@media screen and (min-width: 769px) {
    @media screen and (max-width: 834px) {
        .sectionApoiadores .apoiadores {
            flex-direction: column;
        }
    }
}