* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f7f7f7;
    width: 100%;
    height: 90px;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .Logo{
    width: 90%;
}

header nav{
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-size: 1.2em;
}

header nav ul{
    display: flex;
    align-items: center;
    color: #1c2b1a;
    width: 55%;
    justify-content: space-around;
}

header nav ul li{
    color: #1c2b1a;
}

header nav button{
    width: 140px;
    padding: 5%;
    font-size: 1em;
    border: 2px solid transparent;
    background: linear-gradient(#f7f7f7, #f7f7f7) padding-box, linear-gradient(90deg, #D12874CC, #FAFF74E5) border-box;
    border-radius: 20px;
    cursor: pointer;
    color: #1c2b1a;
}

/*MENU RESPONSIVO*/
.nav_menu{
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 75%;
    position: absolute;
    width: 25%;
    height: 110vh;
    background-color: #f7f7f7;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav_menu .lista_menu{
    width: 100%;
    height: 55%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label_menu{
    display: none;
}

.botao_menu{
    display: none;
}

.botao_close{
    font-size: 1.5em;
    cursor: pointer;
}

.botao_open{
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.botao_menu:checked~.nav_menu{
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .nav_principal{
        display: none;
    }

    .botao_open, .label_menu{
        display: block;
    }
}