/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Sessão que terá o fundo rosa com texto */
.Sessao1{
    width: 100%;
    height: 604px;
    background-image: url(../../../imagens/fundoRosaSessao1SobreNos.svg);
    background-size:cover;
    padding-top: -80px;
    display: flex;
}

/* Sessão para texto */
.SessaoTextoSessao1{
    width: 55%;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Área do texto */
.AreaTextoSessao1{
    margin-top: 80px;
    width: 88%;
    height: 250px;
}

.TextoSessao1{
    font-size: 52px;
    color: #fff;;
}

.SessaoImagem{
    width: 50%;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AreaImagem{
    width: 100%;
    height: 604px;
    display: flex;
    justify-content: center;
}

.Imagem{
    width: 590px;
    height: 524px;
    background-image: url(../../../imagens/MulherSegurandoPerucaSobreNos-transformed.jpeg);
    background-size: cover;
    margin-top: 79px;
}