* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sessão que terá o fundo rosa com texto */
.Sessao1{
    width: 100%;
    height: 604px;
    background-image: url(../../../imagens/fundoRosaSessao1SobreNos.svg);
    background-size:cover;
    padding-top: -80px;
    display: flex;
    box-sizing: border-box;
}

/* Sessão para texto */
.SessaoTextoSessao1{
    width: 55%;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

/* Área do texto */
.AreaTextoSessao1{
    margin-top: 80px;
    width: 88%;
    height: 250px;
    /* background-color: chartreuse; */
}

.TextoSessao1{
    font-size: 52px;
    color: #fff;;
}

.SessaoImagem{
    width: 45%;
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AreaImagem{
    width: 100%;
    height: 604px;
    display: flex;
    justify-content: center;
}

.Imagem{
    width: 100%;
    height: 524px;
    background-image: url(../../../imagens/MulherSegurandoPerucaSobreNos.png);
    background-size: cover;
    margin-top: 80px;
}

/* Responsividade com base no iPhone 12 PRO MAX */
@media screen and (max-width: 480px) {
    .Sessao1{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SessaoImagem {
        display: none;
    }
    
    .SessaoTextoSessao1{
        width: 100%;
        height: 500px;
        text-align: center;
    }

    .AreaTextoSessao1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .TextoSessao1{
        font-size: 45px;
    }  
}

@media only screen and (min-width: 481px){
    @media only screen and (max-width: 768px)
    {
        .SessaoTextoSessao1{
            width: 40%;
        }
    
        .AreaTextoSessao1{
            width: 100%;
        }
    
        .TextoSessao1{
            font-size: 35px;
            padding-left: 15px;
        }
    
        .SessaoImagem{
            width: 60%;
        }  

    }
}