* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SectionHistoriaMarcaFlor{
    width: 100%;
    height: auto;
    padding-top: 1px;
    background-image: url(../../../imagens/fundoNossaHistoria.png);
}

.SessaoNossaHistoria{
    width: 100%;
    height: 520px;
    /* background-color: aqua; */
    display: flex;
    box-sizing: border-box;
}

.SessaoTextoNossaHistoria{
    width: 55%;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.AreaTextoNossaHistoria{
    width: 85%;
    height: auto;
    box-sizing: border-box;
}

.TituloRosa_NossaHistoriaMarcaFlor{
    font-size: 45px;
    color: #D12874;
}

.Texto_NossaHistoriaMarcaFlor{
    font-size: 19px;
    color: #000000;
}

.TextoRosa_NossaHistoriaMarcaFlor{
    font-size: 20px;
    color: #D12874;
}

.SessaoImagemNossaHistoriaMarcaFlor{
    width: 45%;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.AreaImagemNossaHistoria{
    width: 75%;
    height: 410px;
    margin: auto;
    background-image: url(../../../imagens/imagemNossaHistoria.png);
    background-size: cover;
}

/* Início Sessão Marca */
.SessaoNossaMarca{
    width: 100%;
    height: 500px;
    /* background-color: rgb(208, 255, 0); */
    display: flex;
    box-sizing: border-box;
}

.SessaoTextoNossaMarca{
    width: 55%;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.AreaTextoNossaMarca{
    width: 85%;
    height: auto;
    box-sizing: border-box;
}

.TituloVerdeNossaHistoria{
    font-size: 45px;
    color: #557851;
}

.AreaImagemMarca{
    width: 80%;
    height: 450px;
    margin: auto;
    background-image: url(../../../imagens/logo.svg);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.TextoVerde_NossaHistoriaMarcaFlor{
    font-size: 20px;
    color: #557851;
}

.AreaImagemFlorLotus{
    width: 75%;
    height: 410px;
    margin: auto;
    background-image: url(../../../imagens/imagemFlorLotus.svg);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}