@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.sectionPodcast {
    height: auto;
    width: 100%;
    /* background-color: #FFF0F4; */
}

.titlePodcast {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    color: #D12874;
    font-family: 'Courgette', cursive;
}

.linhaCompleta {
    width: 30%;
    object-fit: contain;
}

.linhaCompleta:first-child {
    transform: rotate(180deg);
}

.containerPodcast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerPodcast iframe{
    width: 26%;
    margin: 5px 0 20px 0;
    cursor: pointer;
    box-shadow: -7px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: .25s all;
    border-radius: 12px;
}

.containerPodcast iframe:hover {
    transition: .25s all;
    box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    
}

@media screen and (max-width: 428px) {
    .dicasText {
        font-size: 30px;
    }

    .containerPodcast {
        flex-direction: column;
    }

    .containerPodcast iframe {
        display: flex;
        margin: 20px auto;
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .linhaCompleta {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .linhaCompleta {
        display: none;
    }
}
