.sectionPodcast {
    height: auto;
    width: 100%;
}

.titlePodcast {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    color: #D12874;
}

.linhaCompleta {
    width: 30%;
    object-fit: contain;
}

.linhaCompleta:first-child {
    transform: rotate(180deg);
}

.containerPodcast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerPodcast img {
    width: 40%;
    margin: 5px 0 20px 0;
    cursor: pointer;
    transition: .25s all;
    border-radius: 20px;
}

.containerPodcast img:hover {
    box-shadow: -7px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: .25s all;
}

@media screen and (max-width: 428px) {
    .containerPodcast {
        flex-direction: column;
        align-items: center;
    }

    .containerPodcast img {
        width: 80%;
    }
}