.Carousel{
    width: 100%;
    height: 450px;
}

.Carousel_item{
    width: 100%;
    height: 450px;
}

/*é necessário realizar melhoria dessas imagens*/
.Carousel_item:first-child{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../imagens/slide1-corte.png);
}

.Carousel_item:nth-child(2){
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../imagens/slide2-corte.png);
}

.Carousel_item:last-child{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../imagens/slide3.png);
}

.Carousel_item:last-child .Carousel_caption{
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Carousel_item:first-child .Carousel_caption span{
    color: #F299E3;
}

.Carousel_item:nth-child(2) .Carousel_caption span{
    color: #F9FF53;
}

.Carousel_item:last-child .Carousel_caption div{
    width: 45%;
}

.Carousel_caption{
    position: absolute;
    top: 30%;
}

.Carousel_caption h3{
    font-size: 2rem;
    padding: 1%;
}

.Carousel_caption button{
    padding: 0.5% 3%;
    font-size: 1.3rem;
    background: linear-gradient(100deg, #F299E3, rgba(217, 217, 217, 0.5), rgba(217, 217, 217, 0.25), rgba(217, 217, 217, 0.1));
    color: #fff;
    border: 2px solid #F299E3;
    border-radius: 20px;
}

.Carousel_item:nth-child(2) .Carousel_caption button{
    background: linear-gradient(100deg, #F9FF53, rgba(217, 217, 217, 0.5), rgba(217, 217, 217, 0.25), rgba(217, 217, 217, 0.1));
    border: 2px solid #F9FF53;
}

.Carousel_item:last-child .Carousel_caption button{
    padding: 1% 6%;
    background: linear-gradient(100deg, #d12874, rgba(217, 217, 217, 0.5), rgba(217, 217, 217, 0.25), rgba(217, 217, 217, 0.1));
    border: 2px solid #d12874;
    /*add transição*/
}


.carousel-control-next{
    width: 5%;
}

/*Responsividade com base no Iphone 12 PRO MAX*/ 
@media screen and (max-width: 428px) {
    .Carousel_item:first-child .Carousel_caption {
        position: absolute;
        top: 20%;
        transform: translateY(-10%);
    }

    .Carousel_item:last-child .Carousel_caption{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }

    .Carousel_item:last-child .Carousel_caption h3{
        padding: 0;
    }

    .Carousel_item:last-child .Carousel_caption button{
        margin: auto;
        display: flex;
    }

    .plataforma div{
        margin: 2% 0 8% 2%;
    }
}